<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <span id="myGram"></span>
    
    <button class="firstButton"></button>
    <button class="secondButton"></button></br></br>

    <div class="image"></div></br>

    
    <div class="myDiv"></div>
    <div class="myDiv2"></div>

    <script src="js/myGram.js"></script>

</body>

</html>