<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <span id="myGram">My Gram</span>
    
    <button type="button">Log In</button>
    <button type="button">Sign Up</button></br></br>

    <div class="image">Image 1 Image 2 Image 3 Image 4 Image 5</div></br>

    
    <div class="mySpan">About Blog Jobs Help</div>
    <div class="mySpan2">English 2021 MyGram</div>
    <footer>
         <script src="js/myGram.js"></script>
    </footer>
</body>

</html>