@{
    ViewData["Title"] = "Home Page";
}

<div id="myDiv" class="text-center">

    
</div>
<script src="~/js/moment.js"></script>
<script src="~/js/myObject.js" type="text/javascript"></script>
<script src="~/js/myGram.js" type="text/javascript"></script>