<div id="LogInDiv">
    <form id="MyForm">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>User</label>
                    </td>
                    <td>
                        <input type="text" name="User" id="Username" placeholder="Type user name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password</label>
                    </td>
                    <td>
                        <input type="password" name="Password" id="Password" placeholder="Type user password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="LogInButton">Log In</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>