<style>
    table {
        text-align: left;
    }
    #Email, #Country {
        width: 100%;
    }

</style>

<div id="registration" class="text-center">
    
</div>
<script src="~/js/registrationFile.js"></script>